<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.post.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.auth.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>controller.post.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListController</servlet-name>
        <servlet-class>controller.post.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertController</servlet-name>
        <servlet-class>controller.post.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.post.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResidentController</servlet-name>
        <servlet-class>controller.post.ResidentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAdvanceController</servlet-name>
        <servlet-class>controller.post.SearchAdvanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BroadingHouseController</servlet-name>
        <servlet-class>controller.post.BroadingHouseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApartmentController</servlet-name>
        <servlet-class>controller.post.ApartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseController</servlet-name>
        <servlet-class>controller.post.HouseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPostController</servlet-name>
        <servlet-class>controller.post.MyPostController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertController</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResidentController</servlet-name>
        <url-pattern>/resident</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAdvanceController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BroadingHouseController</servlet-name>
        <url-pattern>/broadinghouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApartmentController</servlet-name>
        <url-pattern>/apartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseController</servlet-name>
        <url-pattern>/house</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPostController</servlet-name>
        <url-pattern>/mypost</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
